<html>
    <head>
        <title>registration</title>
        <!-- <link rel="stylesheet" href="../registration.css"> -->
        <link rel="stylesheet" href="../css/registration.css">
    </head>
    <body>
        <div class="activate" id="activate">
                <form id="ac">
                <h2>YOUR session is expired enter usrname and click on activate for new link</h2>
                <table>
                <tr>
                <td><label for="username">Username</label></td>
                <td><input type="text" name="uname" value="" id="uname"></td>
                </tr>
                </table>
                <button type="button" onclick="activate()">ACTIVATE</button>
                <p id="aerror"></p>
            </div>
            </form>
            <script src="../js/registration.js"></script>
        </body>
    </html>