<html>

<head>
    <title>registration</title>
    <link rel="stylesheet" href="../css/registration.css">
</head>

<body>
    <div class="setpassword" id="sp">
        <form id="cpassword">
            <h2>CREATE PASSWORD</h2>
            <input type="hidden" name="accode" value="" id="code">
            <table>
                <tr>
                    <td><label for="password45">password</label></td>
                    <td><input type="password" name="password1" value="" id="password"></td>
                </tr>
                <tr>
                    <td><label for="cpassword">confirm password</label></td>
                    <td><input type="password" name="confirmpassword" value="" id="confirmpassword"></td>
                </tr>
            </table>
            <button type="button" onclick="confirmPSW()">CONFIRM</button>

            <p id="perror"></p>
    </div>
    </form>
    <script src="../js/registration.js"></script>
</body>

</html>