<html>
    <head>
        <link rel="stylesheet" href="../css/home.css">
    </head>
    <body>
        <div class="show">
        <table>
            <tr>
            <th>sr no.</th>
            <th>NAME OF TASK</th>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="/daynamictable" target="_blank">Daynamic Table</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="/tictactoe" target="_blank">TIC TAC TOE GAME</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="/kukukube" target="_blank">KUKU KUBE</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="/eventdemo" target="_blank">Event DEMO</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="/ehya" target="_blank">ehya</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td><a href="/awan" target="_blank">AWAN</a></td>
            </tr>
            <tr>
                <td>7</td>
                <td><a href="/hirex" target="_blank">HireX</a></td>
            </tr>
            <tr>
                <td>8</td>
                <td><a href="/studentform" target="_blank">Student form</a></td>
            </tr>
            <tr>
                <td>9</td>
                <td><a href="/order" target="_blank">Pagination & Orderby on Student Record</a></td>
            </tr>
            <tr>
                <td>10</td>
                <td><a href="/attendencegrid" target="_blank">Student Attendence</a></td>
            </tr>
            <tr>
                <td>11</td>
                <td><a href="/result" target="_blank">Student Result</a></td>
            </tr>
            <tr>
                <td>12</td>
                <td><a href="/attendenceorderby" target="_blank">Order by on Attendence</a></td>
            </tr>
            <tr>
                <td>13</td>
                <td><a href="/search" target="_blank">search in Student Record</a></td>
            </tr>
            <tr>
                <td>14</td>
                <td><a href="/fetchapi" target="_blank">JSON Placeholder API</a></td>
            </tr>
            <tr>
                <td>15</td>
                <td><a href="/jobform" target="_blank">JOB APPLICATION FORM with AJAX</a></td>
            </tr>
        </table>
    </div>
    </body>
</html>