<html>
    <head>
        <title>registration</title>
        <link rel="stylesheet" href="../css/registration.css">
    </head>
    <body>
        <div class="login" id="login">
                <form id="reg">
                <h2>LOGIN PAGE</h2>
                <table>
                <tr>
                <td><label for="username">Username</label></td>
                <td><input type="text" name="uname" value="" id="uname"></td>
                </tr>
                <tr>
                <td><label for="password">password</label></td>
                <td><input type="password" name="password" value="" id="password1"></td>
                </tr>
                </table>
                <button type="button" onclick="login()">LOGIN</button>
                <p id="lerror"></p>
                <button type="button" name="home" value="submit" onclick="re()">HOME</button>
            </div>
            </form>
            <script src="../js/registration.js"></script>
        </body>
    </html>